/* header */

header {
    height: 90vh;
    max-width: 100%;
}

/* header top bar */

section.banner {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.banner {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

a.banner {
    text-decoration: none;
}

.banner-button {
    padding: 10px;
    color: white;
}

/* header jumbo */

section.jumbo {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 240, 255, 0.76);
}

div.jumbo {
    height: 95%;
    width: 70%;
    
}

h1{
    font-size: 70px;
}

.flexbox{
    width: 100%;
    height: 80%;
    display: flex;
    
}

.sinistra{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 70%;
    width: 40%;
    gap: 20px;
    
}

.destra{
    
    height: 85%;
    max-width: 1500px;
    
}



.Free{
    padding: 10px;
    background-color: rgb(19, 42, 255);
    text-decoration: none;
    color: white;
}

#Proposta-Img{
    height: 120%;
    width: 100%;
}

#arrow{
    font-size: 50px;
}
