/** regole main **/
main{
    margin-top: 50px;
    background-color: white;
   
}

.container {
   max-width: 1000px;
   margin: 0 auto;
}

/** regole sections **/
.Cont-Promo,.Cont-Buttons,.Cont-Business,.Cont-Team,.Cont-Enterprise,.Cont-Partner,.Cont-Multi-Operations,.Cont-500k{
    
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/** regole Fattura **/
.Fattura{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 20vh;
    cursor: pointer;
}

input{
    height: 20px;
    width: 20px;
    padding: 10px;
    
}


.monthly{
    padding-right: 20px;
}

.monthly,.yearly{
    padding-left: 5px;
}

/** regole Business Plan **/

.BusinessPlan{
    display: flex;
    justify-content: space-between;
    width: calc(2500px/3);
    height: 80vh;
    
    gap: 30px;
}

/**regole business plan**/
.BPlans{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    
    
}

/**Container parte superiore del Business Plan**/
.top{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    
}

h3{
    font-size: 20px;
}

.cost{
    font-size: 13px;
}

.month{
    color: grey;
}

.middle{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 15px;
    padding-bottom: 20px;
}

.intermediate.medio{
    padding-top: 5px;
}

.intermediate.destro{
    padding-top: 5px;
}
.N-utenti, .Folder, .Share{
    font-size: 15px;
    
}

.intermediate{
    padding: 20px 10px;
    
}


.end{
    padding: 20px 10px;
    padding-top: 10px;
}

.fa-check{
    color: blue;
    font-size: 13px;
    
}

.check-text{
    color: black;
    font-size: 13px;
}
.container-BPlans{
    height: 100%;
    width: 100%;
    padding: 5px;
    
}

/**.linetta{
    margin-bottom: 1px solid black;
}**/

.plan-type{
    
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 5%;
    font-size: 12px;
    border-bottom: 1px solid grey;
    padding: 13px 5px;
    
}

.Free-Try{
    font-size: 12px;
    padding: 8px;
    background-color: rgb(19, 42, 255);
    text-decoration: none;
    color: white;
    
}

/** regole B Plan Text **/
.Business-Plan-Text{
    display: flex;
    align-items: flex-end;
    width: 70%;
    height: 20vh;
    font-size: 25px;
    
}
/** regole Team **/
.Team{ 
    width: 70%;
    height: 10vh;
    background-color: aqua;
}

/** regole Enterprise**/
.Enterprise{
    width: 70%;
    height: 40vh;
    background-color: yellowgreen;
}
/** regole Partner**/
.Partner{
    width: 70%;
    height: 50vh;
    background-color: brown;
}
/** regole Multi-Operations**/
.Multi-Operations{
    width: 70%;
    height: 80vh;
    background-color: green;
}
/** regole D500k**/
.D500k{
    width: 70%;
    height: 30vh;
    background-color: black;
}
/** regole Container Brands**/
.Container-Brands{
    width: 100%;
    height: 60vh;
    background-color: red;
}
/** regole Designit**/
.Designit{

}
/** regole **/
/** regole Container-Dbox-Azienda**/
.Cont-Dbox-Azienda{
    width: 100%;
    height: 30vh;
    background-color: rgb(119, 205, 255);
}

/** regole Faq**/
.Contatti{

}

/** regole **/
/** regole **/

