/** regole main **/
main{
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
}
/** regole **/
section.BusinessPlanText{
    width: 70%;
    height: 10%;
    background-color: black;
}

/** regole **/

/** regole **/

/** regole **/

/** regole **/