/** regole main **/
main{
    /* display: flex; */
    /* width: 100%; */
    background-color: white;
    /* align-items: center; */
    /* flex-direction: column; */
    /* gap: 50px; */
}

.container {
   max-width: 1000px;
   margin: 0 auto;
}

/** regole sections **/
.Cont-Promo,.Cont-Buttons,.Cont-Business,.Cont-Team,.Cont-Enterprise,.Cont-Partner,.Cont-Multi-Operations,.Cont-500k{
    /* width: 70%; */
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/** regole Fattura **/
.Fattura{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 20vh;
    cursor: pointer;
}

input{
    height: 20px;
    width: 20px;
    padding: 10px;
    
}

.monthly{
    padding-right: 20px;
}

.monthly,.yearly{
    padding-left: 5px;
}

/** regole Business Plan **/

.BusinessPlan{
    display: flex;
    justify-content: space-between;
    width: calc(2100px/3);
    height: 80vh;
    
    gap: 50px;
}

.BPlans{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 33%;
    background-color: white;
    border: 1px solid black;
    
    
}

.cost,h3,.month,.Folder,.N-utenti,.Share{
    padding: 10px;
}

.container-BPlans{
    height: 100%;
    width: 100%;
    padding: 5px;
    
}
.linetta{
    margin-bottom: 1px solid black;
}

.plan-type{
    
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 5%;
    font-size: 12px;
    border-bottom: 1px solid black;
    padding: 5px;
    
}

.Free-Try{
    font-size: 10px;
    padding: 8px;
    background-color: rgb(19, 42, 255);
    text-decoration: none;
    color: white;
}

/** regole B Plan Text **/
.Business-Plan-Text{
    display: flex;
    align-items: flex-end;
    width: 70%;
    height: 20vh;
    font-size: 25px;

}
/** regole Team **/
.Team{ 
    width: 70%;
    height: 10vh;
    background-color: aqua;
}

/** regole Enterprise**/
.Enterprise{
    width: 70%;
    height: 40vh;
    background-color: yellowgreen;
}
/** regole Partner**/
.Partner{
    width: 70%;
    height: 50vh;
    background-color: brown;
}
/** regole Multi-Operations**/
.Multi-Operations{
    width: 70%;
    height: 80vh;
    background-color: green;
}
/** regole D500k**/
.D500k{
    width: 70%;
    height: 30vh;
    background-color: black;
}
/** regole Container Brands**/
.Container-Brands{
    width: 100%;
    height: 60vh;
    background-color: red;
}
/** regole Designit**/
.Designit{

}
/** regole **/
/** regole Container-Dbox-Azienda**/
.Cont-Dbox-Azienda{
    width: 100%;
    height: 30vh;
    background-color: rgb(119, 205, 255);
}

/** regole Faq**/
.Contatti{

}

/** regole **/
/** regole **/

